body {
    background-color: #1F2328;
}

.text-with-underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #1F2328;
    backdrop-filter: blur(50px);
}

.text-with-underline:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-color: #1F2328;
    backdrop-filter: blur(50px);
    transition: width 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.text-with-underline:hover:after {
    width: 100%;
}

.nav {
    background-color: #FFF;
}

.nav .option {
    color: #1F2328;
}

.divBox {
    background-color: #1F2328;
    border: 1px solid rgba(200, 200, 200, 0.3);
}

.divTitle {
    color: #636C76;
}

.introduction {
    color: #EBEBEB;
}

.introduction .Author {
    color: #FFF;
}

.organization .organization_ h3 {
    color: #FFF;
}

.organization .organization_ .orgId {
    font-weight: normal;
    color: #EBEBEB;
}

.star-project {
    background-color: #1F2328;
}

.star-project .repositories .intro,
.star-project .repositories .intro p {
    color: #EBEBEB;
}

.footer {
    color: #FFF;
}