$body-bg-color: #1F2328;$text-color: #1F2328;
$transition-bezier: cubic-bezier(0.25, 0.46, 0.45, 0.94);$border-color: rgba(200, 200, 200, 0.3);
$div-title-color: #636C76;$introduction-color: #ddd;
$white: #FFF;$author-color: #FFF;
$org-id-color: #ddd;

body {
    background-color: $body-bg-color;
}

.text-with-underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: $text-color;
    backdrop-filter: blur(50px);

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 2px;
        width: 0;
        background-color: $text-color;
        backdrop-filter: blur(50px);
        transition: width 0.3s $transition-bezier;
    }
}

.text-with-underline:hover:after {
    width: 100%;
}

.nav {
    background-color: $white;

    .option {
        color: $text-color;
    }
}

.divBox {
    background-color: $body-bg-color;
    border: 1px solid $border-color;
}

.divTitle {
    color: $div-title-color;
}

.introduction {
    color: $introduction-color;

    .Author {
        color: $author-color;
    }
}

.organization {

    .organization_ {
        h3 {
            color: $white;
        }

        .orgId {
            font-weight: normal;
            color: $org-id-color;
        }
    }
}

.star-project {
    background-color: $body-bg-color;

    .repositories {

        .intro,
        .intro p {
            color: $introduction-color;
        }
    }
}

.footer {
    color: $white;
}
