* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, SF Pro text, 'Segoe UI', Helvetica, Helvetica Neue, MiSans, HarmonyOSHans, Segoe UI, Arial, sans-serif, "\5B8B\4F53";
    background-color: #FAFAFA;
    align-items: center;
    justify-content: center;
    padding: 0;
}

a {
    text-decoration: none;
    margin: 0;
    color: #3888ff;
}

hr {
    border: none;
    border-top: 1px solid rgba(200, 200, 200, 0.5);
}

.text-with-underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    backdrop-filter: blur(50px);
}

.text-with-underline:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-color: #FFF;
    backdrop-filter: blur(50px);
    transition: width 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.text-with-underline:hover:after {
    width: 100%;
}

.nav {
    background-color: #1F2328;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.fixedNav {
    width: 100%;
    top: 0;
    left: 0;
    transform: translate(0,0);
    position: fixed;
}

.nav .option {
    color: #FFF;
    font-weight: normal;
}

.divBox {
    transform: translate(10%, 0);
    background-color: #FFF;
    width: 80%;
    border-radius: 10px;
}

.divTitle {
    color: #8E969E;
}

.introduction {
    justify-content: center;
    color: #636C76;
}

.introduction p {
    margin: 0;
}

.introduction .introduction_ {
    justify-content: center;
    display: flex;
}

.introduction .introduction_ p {
    margin: 0;
    text-align: left;
}

.introduction .Author {
    text-align: left;
    color: #1F2328;
}

.organization {
    justify-content: center;
}

.organization .organization_ .orgCard {
    display: flex;
}

.organization .organization_ .orgAvatar {
    border-radius: 10px;
    border: 1px solid rgba(200, 200, 200, 0.8);
}

.organization .organization_ .hatmic-org .orgProfileSpan .member img {
    border-radius: 10px;
}

.organization .organization_ h3 {
    color: #1F2328;
}

.organization .organization_ .orgId {
    font-weight: normal;
    color: #636C76;
}

.star-project {
    transform: translate(10%, 0);
    background-color: #FFF;
    width: 80%;
    justify-content: center;
    border-radius: 10px;
}

.star-project .repositories {
    border-radius: 10px;
    margin: 0;
}

.star-project .repositories a:hover {
    text-decoration: underline;
}

.star-project .repositories h3 {
    color: #0969DA;
    text-decoration: none;
    margin: 0;
}

.star-project .repositories h3:hover {
    text-decoration: underline;
}

.star-project .repositories .intro {
    color: #636C76;
    margin: 0;
}

.star-project .repositories .intro p {
    margin: 0;
}

.footer {
    color: #1F2328;
}